/* Characters */
.grid-cell {
    position: absolute;
    width: var(--tileSize);
    height: var(--tileSize);
}

.character {
   transition: transform 0.4s;
}
.character.you {
    z-index: 1;
}
.character.you .character-you-arrow {
    display: block;
}
.character-you-arrow {
    display: none;
    position: absolute;
    top:-18px;
    left: 5px;
    width: 7px;
    height: 5px;
    background: var(--arrow) no-repeat no-repeat;
}
.Character-sprite {
    overflow: hidden;
    top: -3px;
    background: var(--character);
}
.character[data-direction="right"] .Character_sprite {
    background-position-x: var(--tileSize);
}
.character[data-color="red"] .Character_sprite {
    background-position-y: calc(var(--tileSize) * -1);
}
.character[data-color="orange"] .Character_sprite {
    background-position-y: calc(var(--tileSize) * -2);
}
.character[data-color="yellow"] .Character_sprite {
    background-position-y: calc(var(--tileSize) * -3);
}
.character[data-color="green"] .Character_sprite {
    background-position-y: calc(var(--tileSize) * -4);
}
.character[data-color="purple"] .Character_sprite {
    background-position-y: calc(var(--tileSize) * -5);
}
.character-shadow {
    background: url(/images/shadow.png) no-repeat no-repeat;
}

.character-name-container {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 5px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scale(2);
}
.character-coins {
    margin-left: 1px;
    color: gold;
}
