.scene {
  display: flex;
}

.character[data-direction="right"] .hawk-sprite {
  background-position-x: var(--tileSize);
}

/* hawk */
.hawk-sprite {
  background: var(--hawk) no-repeat no-repeat;
  z-index: 9;
}

/* Holes */
.hole-sprite {
  background: var(--hole) no-repeat no-repeat;
}
.hole-closed {
  background: var(--hole-closed) no-repeat no-repeat;
}
