<link rel="stylesheet" href="../styles/game/Dpad.css" type="text/css">
<div id="DPAD" class="dpad dpad-div">
    <div class="dpad-center dpad-div">
        <div id="dpad-ok" class="dpad-center-circle dpad-div"></div>
    </div>
    <div class="dpad-up direction dpad-div">
        <div id="dpad-up" class="dpad-up-triangle dpad-div"></div>
    </div>
    <div class="dpad-right direction dpad-div">
        <div id="dpad-right" class="dpad-right-triangle dpad-div"></div>
    </div>
    <div class="dpad-down direction dpad-div">
        <div id="dpad-down" class="dpad-down-triangle dpad-div"></div>
    </div>
    <div class="dpad-left direction dpad-div">
        <div id="dpad-left" class="dpad-left-triangle dpad-div"></div>
    </div>
</div>
