<link rel="stylesheet" href="../styles/game/Dpad.css" type="text/css">
<div id="DPAD" class="dpad dpad-div">
    <div class="dpad-center dpad-div">
        <div class="dpad-center-circle dpad-div" onclick="handleActionPress()"></div>
    </div>
    <div class="dpad-up direction dpad-div">
        <div class="dpad-up-triangle dpad-div" onclick="handleArrowPress(0, -1)"></div>
    </div>
    <div class="dpad-right direction dpad-div">
        <div class="dpad-right-triangle dpad-div" onclick="handleArrowPress(1, 0)"></div>
    </div>
    <div class="dpad-down direction dpad-div">
        <div class="dpad-down-triangle dpad-div" onclick="handleArrowPress(0, 1)"></div>
    </div>
    <div class="dpad-left direction dpad-div">
        <div class="dpad-left-triangle dpad-div" onclick="handleArrowPress(-1, 0)"></div>
    </div>
</div>
