<link rel="stylesheet" href="../styles/waitingroom/Character.css" type="text/css">
<link rel="stylesheet" href="../styles/waitingroom/WaitingList.css" type="text/css">

<div>
    <div class="waitlist-div">
        <table class="waitlist-table">
            <thead>
                <tr>
                    <th>Color</th>
                    <th id="playersWaitingListHeader">Player name</th>
                </tr>
            </thead>
            <tbody id="playersWaitingList"></tbody>
        </table>
    </div>
</div>

<!-- <script src="../../scripts/waitingroom/WaitingList.js"></script> -->