.qrcode-wrapper {
    text-align: -webkit-center;
}

.lobby-container {
    display: flex;
    padding: 5px; /* this */
    align-items: baseline;
}

.start-button-container {
    text-align: center;
}

.qr-code-container {
    margin-top: 10px;    
}

.qr-code-image {
    margin-bottom: 10px;
}


.qr-code{
    border-top: 1.5rem solid var(--qr-code-square-color);
    border-right: 0.5rem solid var(--qr-code-square-color);
    border-bottom: 1rem solid var(--qr-code-square-color);
    border-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0.5rem solid var(--qr-code-square-color);
    background-color: var(--qr-code-square-color);
}

.plain-text-link {
    color:aqua;
    margin: auto;
    font-size: large;
}

.start-game {
    margin-top: 5em;
}

.waitlist-div {
    padding-left: 10vw;
}